* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
  background-image: url("/img/nuist-bg.jpg");
}

.header-title {
  font-family: "Poppins", sans-serif;
  color: #333333;
  text-align: center;
}

.header-title h1 {
  font-size: 24px;
}

.login-container {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.login-container .left-container {
  width: 40%;
  height: 100vh;
  padding: 2%;
  color: #ffffff;
}

.login-container .left-container .nuist-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.login-container .left-container .nuist-logo img {
  width: 60px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.login-container .left-container .nuist-logo span {
  width: 70%;
  font-size: 14px;
}

.login-container .right-container {
  width: 100%;
  height: 100vh;
  padding: 2%;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.753);
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(5.9px);
  color: #333333;
}

.login-container .right-container .title-container {
  margin-top: 10rem;
  width: 50%;
}

.login-container .right-container .title-container h1 {
  color: #6497B1;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

.login-container .right-container .title-container h5 {
  color: #888888;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.login-container .right-container .login-as-container {
  width: 50%;
}

.login-container .right-container .login-as-container a {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: #333333;
  font-weight: 600;
  font-size: 14px;
}

.login-container .right-container .login-as-container a:hover {
  text-decoration: underline;
}

.login-container .right-container .form-container {
  width: 50%;
}

.login-container .right-container .form-container .form-group i {
  color: #888888;
  position: absolute;
  font-size: 20px;
  -webkit-transform: translate(15px, 8px);
          transform: translate(15px, 8px);
}

.login-container .right-container .form-container input[type="text"], .login-container .right-container .form-container input[type="password"] {
  padding-left: 45px;
  color: #333333;
}

.login-container .right-container .form-container .remember-me {
  color: #ffffff;
}

.login-container .right-container .form-container .login-btn-container {
  margin-top: 20px;
  padding: 0;
}

.login-container .right-container .form-container .login-btn-container .btn {
  width: 90px;
  font-size: 16px;
  padding: 5px 10px;
}

#wrongMessage {
  color: #ffffff;
  font-size: 12px;
  background-color: #e94b35;
  padding: 2px 5px;
  border-radius: 2px;
  display: none;
}
/*# sourceMappingURL=style.css.map */