$light: #ffffff;
$semilight: #ecebeb;
$semibrightlight : #F8F9FA;
$dark: #333333;
$semidark: #888888;
$blue: #045C97;
$semidarkblue: #03386D;
$darkblue: #02204C;
$lightblue: #B3CEE2;
$semilightblue: #6497B1;
$yellow: #ffb703;
$red: #e94b35;
$bg: #e94b35;
$bg-container: #f2f2f2;
$gradient-ppit: linear-gradient(18deg, rgb(90, 138, 153) 0%, rgb(179, 105, 105) 100%);

$noto: "Noto Sans", sans-serif;
$nunito: "Nunito", sans-serif;
$poppins: "Poppins", sans-serif;
$lato: 'Lato', sans-serif;
$opensans: 'Open Sans', sans-serif;

* {
    box-sizing: border-box;
    margin: 0 auto;
    padding-inline-start: 0;

    scroll-behavior: smooth;
}

body {
    font-family: $nunito;    
    background-image: url("/img/nuist-bg.jpg");
}

.header-title {
    font-family: $poppins;
    color: $dark;    
    text-align: center;
    h1 {
        font-size: 24px;
    }
}

.login-container {
    padding: 0;
    margin: 0;    
    display: flex;
    height: 100%;

    .left-container {            
        width: 40%;
        height: 100vh;
        padding: 2%;                
        color: $light;        

        .nuist-logo {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            img {
                width: 60px;
                height: auto;
                object-fit: contain;
            }
            span {
                width: 70%;
                font-size: 14px;
            }
        }        
    }
    
    .right-container {
        width: 100%;
        height: 100vh;
        padding: 2%;
        // background-color: $light;

        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.753);        
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5.9px);
        -webkit-backdrop-filter: blur(5.9px);        

        color: $dark;        

        .title-container {
            margin-top: 10rem;
            width: 50%;

            h1 {                
                color: $semilightblue;
                font-family: $opensans;
                font-weight: 700;
                font-size: 1.5rem;
            }

            h5 {
                color: $semidark;
                font-family: $opensans;
                font-weight: 700;
                font-size: 14px;
            }
        }

        .login-as-container {
            width: 50%;            
            a {
                font-family: $opensans;
                text-decoration: none;
                color: $dark;
                font-weight: 600;
                font-size: 14px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .form-container {
            width: 50%;
            .form-group {                
                i {
                    color: $semidark;
                    position: absolute; 
                    font-size:20px;
                    transform:translate(15px,8px);
                }
            }
            input[type="text"], input[type="password"] {
                padding-left: 45px;
                color: $dark;
            }
            .remember-me {
                color: $light;
            }
            
            .login-btn-container{                                
                margin-top: 20px;
                padding: 0;
    
                .btn {
                    width: 90px;
                    font-size: 16px;
                    padding: 5px 10px;
                }
            }
        }
    }    
}

#wrongMessage {
    color: $light;
    font-size: 12px;
    background-color: $red;
    padding: 2px 5px;
    border-radius: 2px;
    display: none;
}